@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@400;500;600;700&family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800&display=swap');

:root {
  --primary-color: #99C9D1;
  --secondary-color: #BAD9D8;
  --third-color: #E3B8A6;
}



* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}


html, body {
    height: 100%;
}

body {
    font-family: Poppins, sans-serif;
    font-weight: 300;
    display: flex;
    flex-direction: column;
    padding-top: 90px;
}

.content {
    flex: 1 0 auto;
}




/* ------------------------- HEADER --------------------------- */

h1, h2, h3, h4 {
    font-family: Oswald, sans-serif;
    text-transform: uppercase;
    letter-spacing: 3px;
    color: #252525;
}



.logo {
    width: 200px;
}

a.nav-link {
    float: right;
}


/*--------------------- Dynamic Home Tabs ---------------------- */


.tab-wrap {
    -webkit-transition: 0.3s box-shadow ease;
    transition: 0.3s box-shadow ease;
    max-width: 100%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    list-style: none;
    background-color: #fff;
    margin: 0;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  }
  
  .tab-wrap:hover { box-shadow: 0 12px 23px rgba(0, 0, 0, 0.23), 0 10px 10px rgba(0, 0, 0, 0.19); }
  
  .tab { 
    display: none; 
  }
  
  .tab__content {
    padding: 10px 10px;
    background-color: transparent;
    position: absolute;
    width: 100%;
    z-index: -1;
    opacity: 0;
    left: 0;
    -webkit-transform: translateY(-3px);
    transform: translateY(-3px);
  }

  .tab__content h3 {
    color: #292929;
    font-family: Poppins;
    font-size: 30px;
    font-weight: 200;
    letter-spacing: 1px;
    padding: 45px 0 10px 5px;
    text-align: center;
  }

  .tab__content p {
    color: #292929;
    font-size: 18px;
    font-weight: 300;
    display: contents;
    padding-left: 50px;
    text-align: justify;
    text-justify: inter-word;
    
  }

  .tab:checked:nth-of-type(1) ~ .tab__content:nth-of-type(1) {
    opacity: 1;
    -webkit-transition: 0.5s opacity ease-in, 0.2s transform ease;
    transition: 0.5s opacity ease-in, 0.2s transform ease;
    position: relative;
    top: 0;
    z-index: 100;
    -webkit-transform: translateY(0px);
    transform: translateY(0px);
    text-shadow: 0 0 0;
    background-color:var(--primary-color);
  }

  #about {
    background-color: var(--primary-color);
    margin-bottom: 0;
    font-weight: 400;
    font-size: 28px;
    letter-spacing: 3px;
    text-transform: uppercase;
    color: #292929;
    font-family: Oswald;
  }
  
  .tab:checked:nth-of-type(2) ~ .tab__content:nth-of-type(2) {
    opacity: 1;
    -webkit-transition: 0.5s opacity ease-in, 0.2s transform ease;
    transition: 0.5s opacity ease-in, 0.2s transform ease;
    position: relative;
    top: 0;
    z-index: 100;
    -webkit-transform: translateY(0px);
    transform: translateY(0px);
    text-shadow: 0 0 0;
    background-color: var(--secondary-color);
  }

  #services {
    background-color: var(--secondary-color);
    margin-bottom: 0;
    font-weight: 200;
    font-size: 28px;
    letter-spacing: 3px;
    text-transform: uppercase;
    color: #292929;
    font-family: Oswald;
  }
  
  .tab:checked:nth-of-type(3) ~ .tab__content:nth-of-type(3) {
    opacity: 1;
    -webkit-transition: 0.5s opacity ease-in, 0.2s transform ease;
    transition: 0.5s opacity ease-in, 0.2s transform ease;
    position: relative;
    top: 0;
    z-index: 100;
    -webkit-transform: translateY(0px);
    transform: translateY(0px);
    text-shadow: 0 0 0;
    background-color: var(--third-color);
  }

  #work {
    background-color: var(--third-color);
    margin-bottom: 0;
    font-weight: 200;
    font-size: 28px;
    letter-spacing: 3px;
    text-transform: uppercase;
    color: #292929;
    font-family: Oswald;
  }
  
  .tab:first-of-type:not(:last-of-type) + label {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
  }
  
  .tab:not(:first-of-type):not(:last-of-type) + label { border-radius: 0; }
  
  .tab:last-of-type:not(:first-of-type) + label {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
  }
  
  .tab:checked + label {
    background-color: #fff;
    cursor: default;
  }
  
  .tab:checked + label:hover {
    background-color: #fff;
  }
  
  .tab + label {
    width: 100%;
    cursor: pointer;
    display: block;
    text-decoration: none;
    color: #000;
    -webkit-box-flex: 3;
    -webkit-flex-grow: 3;
    -ms-flex-positive: 3;
    flex-grow: 3;
    text-align: center;
    background-color: #f2f2f2;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    text-align: center;
    -webkit-transition: 0.3s background-color ease, 0.3s box-shadow ease;
    transition: 0.3s background-color ease, 0.3s box-shadow ease;
    height: 50px;
    box-sizing: border-box;
    padding: 50px;
    font-weight: 400;
    line-height: 0;
  }


  @media (min-width:768px) {
  
  .tab + label { width: auto; }
  }
  
  .tab + label:hover {
    background-color: #f9f9f9;
    box-shadow: 0 2px 0 #f4f4f4 inset;
  }

  td {
    display: table-cell;
    vertical-align: inherit;
    width: 33.33%;
    padding: 5px 20px 0 20px;
    vertical-align: text-top;
  }

  .icon {
    font-size: 25px;
    width: 5%;
    margin-right: 10px;
    
  }

  .no-gutters {
    margin-right: 0;
    margin-left: 0;
  }
  
  .col,
  [class*="col-"] {
    padding: 35px 5px 80px 40px;
  }

  @media only screen and (max-width: 600px) {
    .col,
    [class*="col-"] {
      padding: 5px 5px 15px 10px;
    }
    .tab__content h3 {
      padding: 15px 0 10px 0px;
      font-size: 28px;
    }
  }

/*------------------ Home Page Gallery ------------------------ */

  #photo {
    clear: both;
    line-height: 0;
    column-count: 4;
    column-gap: 0px;
}

#photo img{
    width: 100%;
    display: block;
}

@media only screen and (max-width: 600px) {
  #photo {
    column-count: 2;
  }
}

/*------------------ CONTACT FORM ------------------------ */

.contact-section {
    clear: left;
    background-color: #EEF5F7;
    background-size: cover;
    position: relative;
}

.signup-form {
    margin-top: 70px;
    color: #252525;
    margin: auto;
    width: 60%;
    padding: 10px;
}

.signup-form h2 {
    margin-top: 10px;
    margin-bottom: 50px;
    text-align: center;
    font-size: 40px;
}

.signup-form label {
  margin-bottom: 2px;
  font-weight: 400;
}

.text-input {
    width: 100%;
    height: 38px;
    margin: 5px 0 20px 0;
    border: 1px solid #fafafa;
    border-radius: 2px;
    padding-left: 8px;
}

.contact-button {
  border-radius: 5px;
  padding: 15px 50px 15px 50px;
  text-align: center;
  font-size: 100%;
  background-color: #d5977d;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
  margin-bottom: 50px;
}

.contact-button:hover {
  background-color: #F7DED3;
  color: #252525;

}


@media only screen and (max-width: 600px) {
  .contact-button {
    width: 80%;
  }

  .signup-form {
    width: 80%;
  }

  .form-control {
    margin-bottom: 5%;
  }
}



/* ------------------------- FOOTER --------------------------- */

footer {
    background-color: white;
    height: 88px;
}

.social-networks{
    text-align: right;
    padding-right: 15px;

}

.social-networks li{
    display: inline;
}

.social-networks i{
    font-size: 120%;
    margin: 1%;
    padding: 1px;
    color: #121212;
}

footer ul {
    width: 40%;
    float: right;
    margin-top: 40px;
}

footer p {
    font-size: 12px;
    display: inline;
    text-align: left;
    margin-top: 20px;
    padding: 5px;
}

.footer {
    flex-shrink: 0;
}

.copyright {
    margin-top: 50px;
    text-align: right;
    color: #252525;
    text-decoration-color: none;
    text-decoration-line: none;
    padding-left: 10px;
}

.copyright a {
    text-decoration-color: #f7ded3;
    color: #252525;
}



/* ------------------------- PAGES --------------------------- */

.brands {
 border-radius: 15px;
 padding: 0px 5px 5px 5px;
}

.gallery-brand {
  background-color: #fff;
  padding: 15px;
  border-radius: 10px;
  opacity: 95%;
}

.brand-work {
  margin: 0 auto;
}

#photo-brand {
  clear: both;
  line-height: 0;
  column-count: 4;
  column-gap: 0px;
}

#photo-brand img {
  width: 100%;
  display: block;
  border-radius: 10px;
}

@media only screen and (max-width: 600px) {
  #photo-brand {
    column-count: 2;
  }
}


/* ------------------------- PRIVACY POLICY --------------------------- */

.privacy-title {
  padding-left: 15px;
}


/* ------------------------- Contact Page --------------------------- */
.contact-page {
  clear: left;
  background-color: #EEF5F7;
  height: auto;
  margin: auto;
}

.signup-page {
  margin-top: 70px;
  color: #252525;
  margin: auto;
  padding: 10px;
}

.container {
  border-radius: 5px;
  padding-top: 30px;
  background-color: #EEF5F7;
  margin: auto;
}

.container h2 {
  margin-top: 10px;
  text-align: center;
  font-size: 40px;
}

.wrap {
  background-color: #EEF5F7;
  padding: 10px 15px 50px 15px;
}

/* Create two columns that float next to eachother */
.column {
  float: left;
  width: 50%;
  margin-top: 6px;
  padding: 20px;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .column, input[type=submit] {
    width: 100%;
    margin-top: 0;
  }
}

.contact-background {
  background-color: #EEF5F7;
}
