@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@400;500;600;700&family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800&display=swap');

* {
    margin: 0;
    padding: 0;
    border: 0;
}


html, body {
    height: 100%;
}

body {
    font-family: Poppins, sans-serif;
    font-weight: 300;
    display: flex;
    flex-direction: column;
}

.content {
    flex: 1 0 auto;
}





/* ------------------------- HEADER --------------------------- */

h1, h2, h3, h4 {
    font-family: Oswald, sans-serif;
    text-transform: uppercase;
    letter-spacing: 3px;
    color: #252525;
}



.logo {
    width: 200px;
}

a.nav-link {
    float: right;
}


/*--------------------- Dynamic Home Tabs ---------------------- */


.tab-wrap {
    -webkit-transition: 0.3s box-shadow ease;
    transition: 0.3s box-shadow ease;
    max-width: 100%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    list-style: none;
    background-color: #fff;
    margin: 0;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  }
  
  .tab-wrap:hover { box-shadow: 0 12px 23px rgba(0, 0, 0, 0.23), 0 10px 10px rgba(0, 0, 0, 0.19); }
  
  .tab { 
    display: none; 
  }
  
  .tab__content {
    padding: 10px 10px;
    background-color: transparent;
    position: ;
    width: 100%;
    z-index: -1;
    opacity: 0;
    left: 0;
    -webkit-transform: translateY(-3px);
    transform: translateY(-3px);
  }

  .tab__content h3 {
    color: #f9f9f9;
  }

  .tab__content p {
    color: rgb(36, 36, 36);
    display: contents;
    padding-left: 50px;
    
  }

  .tab:checked:nth-of-type(1) ~ .tab__content:nth-of-type(1) {
    opacity: 1;
    -webkit-transition: 0.5s opacity ease-in, 0.2s transform ease;
    transition: 0.5s opacity ease-in, 0.2s transform ease;
    position: relative;
    top: 0;
    z-index: 100;
    -webkit-transform: translateY(0px);
    transform: translateY(0px);
    text-shadow: 0 0 0;
    background-color: rgba(127, 184, 199, 0.8);
  }

  #about {
    background-color: rgba(127, 184, 199, 0.8);
    margin-bottom: 0;
    font-weight: 500;
    letter-spacing: 2px;
    text-transform: uppercase;
  }
  
  .tab:checked:nth-of-type(2) ~ .tab__content:nth-of-type(2) {
    opacity: 1;
    -webkit-transition: 0.5s opacity ease-in, 0.2s transform ease;
    transition: 0.5s opacity ease-in, 0.2s transform ease;
    position: relative;
    top: 0;
    z-index: 100;
    -webkit-transform: translateY(0px);
    transform: translateY(0px);
    text-shadow: 0 0 0;
    background-color: rgba(144, 194, 190, 0.8);
  }

  #services {
    background-color:rgba(144, 194, 190, 0.8);
    margin-bottom: 0;
    font-weight: 500;
    letter-spacing: 2px;
    text-transform: uppercase;
  }
  
  .tab:checked:nth-of-type(3) ~ .tab__content:nth-of-type(3) {
    opacity: 1;
    -webkit-transition: 0.5s opacity ease-in, 0.2s transform ease;
    transition: 0.5s opacity ease-in, 0.2s transform ease;
    position: relative;
    top: 0;
    z-index: 100;
    -webkit-transform: translateY(0px);
    transform: translateY(0px);
    text-shadow: 0 0 0;
    background-color:rgba(213, 151, 125, 0.7);
  }

  #work {
    background-color: rgba(213, 151, 125, 0.7);
    margin-bottom: 0;
    font-weight: 500;
    letter-spacing: 2px;
    text-transform: uppercase;
  }
  
  .tab:first-of-type:not(:last-of-type) + label {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
  }
  
  .tab:not(:first-of-type):not(:last-of-type) + label { border-radius: 0; }
  
  .tab:last-of-type:not(:first-of-type) + label {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
  }
  
  .tab:checked + label {
    background-color: #fff;
    cursor: default;
  }
  
  .tab:checked + label:hover {
    background-color: #fff;
  }
  
  .tab + label {
    width: 100%;
    cursor: pointer;
    display: block;
    text-decoration: none;
    color: #333;
    -webkit-box-flex: 3;
    -webkit-flex-grow: 3;
    -ms-flex-positive: 3;
    flex-grow: 3;
    text-align: center;
    background-color: #f2f2f2;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    text-align: center;
    -webkit-transition: 0.3s background-color ease, 0.3s box-shadow ease;
    transition: 0.3s background-color ease, 0.3s box-shadow ease;
    height: 50px;
    box-sizing: border-box;
    padding: 15px;
    font-weight: 400;
  }
  @media (min-width:768px) {
  
  .tab + label { width: auto; }
  }
  
  .tab + label:hover {
    background-color: #f9f9f9;
    box-shadow: 0 1px 0 #f4f4f4 inset;
  }

  td {
    display: table-cell;
    vertical-align: inherit;
    width: 33.33%;
    padding: 5px 20px 0 20px;
    vertical-align: text-top;
  }

  .icon {
    font-size: 20px;
    width: 5%;
    margin-right: 10px;
    
  }

/*------------------ Home Page Gallery ------------------------ */

  #photo {
    clear: both;
    line-height: 0;
    column-count: 4;
    column-gap: 0px;
}

#photo img{
    width: 100%;
    display: block;
}

/*------------------ CONTACT FORM ------------------------ */

.contact-section {
    clear: left;
    background-color: #EEF5F7;
    position: relative;
}

.signup-form {
    margin-top: 70px;
    color: #252525;
    max-width: 400px;
    margin: auto;
    width: 80%;
    padding: 10px;
}

.signup-form h2 {
    margin-top: 10px;
    margin-bottom: 50px;
    text-align: center;
    font-size: 40px;
}

.signup-form label {
  margin-bottom: 2px;
  font-weight: 400;
}

.text-input {
    width: 100%;
    height: 38px;
    margin: 5px 0 20px 0;
    border: 1px solid #fafafa;
    border-radius: 2px;
    padding-left: 8px;
}

.contact-button {
  border-radius: 5px;
  padding: 15px 50px 15px 50px;
  text-align: center;
  font-size: 100%;
  background-color: #d5977d;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
  margin-bottom: 50px;
}

.contact-button:hover {
  background-color: #F7DED3;
  color: #252525;

}



/* ------------------------- FOOTER --------------------------- */

footer {
    background-color: white;
    height: 88px;
}

.social-networks{
    text-align: right;
    padding-right: 15px;

}

.social-networks li{
    display: inline;
}

.social-networks i{
    font-size: 120%;
    margin: 1%;
    padding: 1px;
    color: #3a3a3a;
}

footer ul {
    width: 40%;
    float: right;
    margin-top: 40px;
}

footer p {
    font-size: 12px;
    display: inline;
    text-align: left;
    margin-top: 20px;
    padding: 5px;
}

.footer {
    flex-shrink: 0;
}

.copyright {
    margin-top: 50px;
    text-align: right;
    color: #d9dbdb;
    text-decoration-color: none;
    text-decoration-line: none;
    padding-left: 10px;
}

.copyright a {
    text-decoration-color: #f7ded3;
    color: #d9dbdb;
}



/* ------------------------- PAGES --------------------------- */


/* ------------------------- PRIVACY POLICY --------------------------- */

.privacy-title {
  padding-left: 15px;
}